[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
anyswap = "3GBxn5VSThpKNyUgaQ96xjSXD2zJ1164LzK28MXv4MDC"

[programs.devnet]
anyswap = "3GBxn5VSThpKNyUgaQ96xjSXD2zJ1164LzK28MXv4MDC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[provider.devnet]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""